#python 3.8+
Cython
cmake
numpy
torch
torchvision
tensorboardx
tensorboard
easydict
opencv-python
Pillow
scipy
tqdm
scikit-learn
matplotlib
mxnet
psutil
mediapipe
uvicorn[standard]
fastapi
pandas
seaborn